* {margin:0px; padding:0px;}

/*  ID AND CLASSES  */
body {
    position: relative;
}

#miniHeader {
    height: 8%;
    background-color: rgb(65, 61, 61);
}

#header {
    height: 750px;
    width: 90%;
    margin: 0 auto;
    background-color: rgb(36, 34, 34);
}

ul#menu {
    list-style-type: none;
    margin-right: 3%;
}

#menu li {
    float: right;
}

a.nav-link, button.nav-link {
    display: block;
    padding: 6px;
    color: orangered;
    text-align: center;
    text-decoration: none;
    line-height: 2em;
    margin: 15px;
}

#menu a:hover, #menu button:hover {
    color: rgb(65, 61, 61);
    background-color: orangered;
    width: 2em;
    border-radius: 50%;
    text-decoration: none;
}

#header-img {
    position: absolute;
    max-width: 40%;
    height: auto;
}

a#contact, button#contact {
    color: white
}

div#video {
    padding: 10px;
    margin-top: 5%;
}

input#email {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

input#submit {
    display: block;
    margin: 1% auto;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

div#center label {
    margin-bottom: 0;
    display: block;
    text-align: center;
    font-size: 0.9em;
}

button.nav-link {
    padding: 0; 
    border: none; 
    background: none;
}

#form {
    height: auto;
    width: 90%;
    margin: 0 auto;
    background-image: linear-gradient(180deg, rgb(36, 34, 34), orangered);
    color: white;
}

input::placeholder {
    text-align: center;
}

input#submit {
    width: 150px;
    font-weight: bold;
}

input#submit:hover {
    background-color: orangered;
    color: white;
    transition: 1s;
}

#product {
    display: flex;
    justify-content: space-around;
}

.reduite {
    max-width: 100%;
    height: auto;
    border: 3px solid white;
}

#step {display: none;}

#contenu {
    display: block;
    width: 90%;
    margin: 1% auto;
    border: 3px solid orangered;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
}
#contenu h2 {
    text-align: center;
}

#contenu h3 {
    font-weight: bold;
}

#contenu h4 {
    color: orangered;
}
#contenu p {
   line-height: 1.6em;
   text-indent: 20px;
   margin-bottom: 1%;
   margin-top: 1%;
}

 #contenu p::before {
    content: "✔ ";
    text-align: justify;
}

p#desc {
    font-size: 0.6em;
}

/*  TAGS  */
iframe {
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
}

footer {
    width: 90%;
    height: 80px;
    background-color: rgb(65, 61, 61);
    display: block;
    margin: 0 auto;
    border: 3px solid orangered;
    box-sizing: border-box;
    border-bottom: none;
}

a {
    text-decoration: none;
}

address {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-style: italic;
}

#desc {
    float: right;
}

/*  MEDIA QUERY  */
@media (max-width: 1532px) { 
    #header-img { 
      display: none;
      }

    #menu li {
          float: left;
          margin-left: 3%;
      }

    #miniHeader {background-color: rgb(36, 34, 34);}
    #header {background-color: rgb(65, 61, 61);}
    }

@media (max-width: 560px) { 
    iframe {display: none;}
}

@media (max-width: 1508px) { 
    iframe {width: 640px; height: 480px;}
}

@media (max-width: 727px) { 
    iframe {width: 480px; height: 360;}
}

@media (max-width: 545px) { 
    header {display: none;}  
    #step {display: block;}
    #step button:nth-child(1) {margin-left: 20px;}
    label {visibility: hidden;}
}
